.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  grid-gap: 2rem;
  padding: 1rem 0.5rem;
  margin-bottom: 10vh;
}

.colours-surface-links {
  position: relative;
}
.colours-surface-links img {
  inline-size: 100%;
}

.colours-surface-links::before,
.colours-surface-links::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: #222;

  position: absolute;
  top: -0.2rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

.colours-surface-links::before {
  --translate-y: calc(-100% - var(--arrow-size));
  content: attr(data-tooltip);
  color: var(--white);
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1.4rem;
  text-align: center;

  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  width: max-content;
  max-width: 100%;

  background: var(--tooltip-color);
}
.colours-surface-links:last-child::before {
  padding: 1.4rem 2.2rem;
}
.colours-surface-links:hover::before,
.colours-surface-links:hover::after {
  --scale: 1;
}
.colours-surface-links::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}
.cover-name {
  display: none;
}
.image-section-display {
  position: absolute;
}

.sec-headline {
  margin-top: 50vh;
}

@media screen and (max-width: 960px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }
  .image-display {
    display: none;
  }
  .sec-headline {
    margin-top: 5rem;
  }
  .cover-name {
    display: block;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0.2rem 0 0 0.2rem;
    color: #222;
  }
  .colours-surface-links {
    text-decoration: none;
  }
}
