.hero-section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 0 0 2rem 0;
}
.grid {
  display: grid;
  gap: 2.4rem;
}

.section--reveal {
  opacity: 1;
  overflow: hidden;
  transition: transform 1s, opacity 1s;
}
.section--hidden,
.section--hidden-left,
.section--hidden-right {
  opacity: 0;
  transform: translateY(20rem);
}

.slider-container {
  width: 100%;

  background-color: rgba(0, 0, 0, 0.31);
  overflow: hidden;
  position: relative;
}

.project-description {
  position: absolute;
  top: 2.4rem;
  left: 2rem;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  line-height: 1.2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.section-h {
  margin: 20rem 0;
}

.project-details {
  position: absolute;
  bottom: 4rem;
  right: 1.5rem;
  background-color: var(--text--bg);
  font-size: 1.8rem;
  line-height: 1.4;
  color: #fff;
  font-weight: 300;
  padding: 0.8rem 2rem;
  text-align: end;
}

.box-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.section-headline {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.section-headline > h1 {
  text-align: center;
  text-transform: uppercase;
  text-align: color;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 1.25;
  text-shadow: 1px 1px 15px rgba(3, 3, 3, 0.891);
}
.letter-spacing {
  letter-spacing: 1.8px;
}

.section-headline:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.section-headline:hover > h1 {
  text-shadow: 1px 1px 4px rgb(3, 3, 3);
}

.item-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.box-2-items {
  display: flex;
  flex-direction: column;
  height: 25rem;
  gap: 2.5rem;
}

.intermediere-container {
  background-color: #4b4b4b;
  color: #fff;
  padding: 15rem 2rem;
}
.intermediere-p,
.bodytext {
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 200;
}

.intermediere {
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.btn-white {
  color: #fff;
  font-size: 1.6rem;
}
.btn-white:nth-child(2) {
  margin-left: 0.5rem;
}
.btn-white:hover {
  color: var(--line-color);
}
.services-container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 1rem;
}
.service-card {
  max-width: 30rem;
  margin: 0 auto;
}
.service-card-text {
  height: 22rem;
  width: 100%;
  margin: 0 auto;
  background-color: #f3f3f3;

  position: relative;
}
.service-card-image {
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.number {
  position: absolute;
  font-size: 12.5rem;
  top: -5.3rem;
  left: 1rem;
  color: #222;
}
.number::after {
  content: ".";
  margin-left: -0.5rem;
  font-size: 7.5rem;
  color: var(--line-color);
}
.service-name {
  font-size: 2.8rem;
  text-align: start;
  padding: 2.8rem 0 2.8rem 0;
  margin-left: 9.6rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #222;
}

.service-list-items {
  list-style: none;
}
.service-list-item {
  padding-left: 2.5rem;
  color: #222;
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  line-height: 1.2;
}
.service-list-item ion-icon {
  color: var(--line-color);
  margin-right: 1rem;
}

.project-section {
  padding: 1rem;
}

@media (min-width: 768px) {
  .section--hidden {
    opacity: 0;
    transform: translateY(20rem);
  }
  .section--hidden-left {
    opacity: 0;
    transform: translateX(-20rem);
  }
  .section--hidden-right {
    opacity: 0;
    transform: translateX(20rem);
  }
  .section--hidden-none {
    opacity: 0;
  }
  .btn-white {
    color: #fff;
    font-size: 1.8rem;
  }
  .intermediere-p,
  .bodytext {
    max-width: 100rem;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 200;
    letter-spacing: 0.3px;
  }
  .our-services-section {
    overflow: hidden;
  }

  .box-2-items {
    display: flex;
    flex-direction: row;
    height: 25rem;
    gap: 2.5rem;
  }

  .project-description {
    white-space: pre-line;
    top: 2.4rem;
    left: 2rem;
    font-size: 2.6rem;
    font-weight: 300;
  }
  .project-details {
    bottom: 3.2rem;
    right: 2rem;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    font-size: 1.8rem;
    font-weight: 300;
  }
}

@media (min-width: 1000px) {
  .service-card {
    width: 100%;
  }
  .hero-section {
    padding: 5rem 0;
  }
  .project-description {
    left: 2rem;
    top: 3rem;
    font-size: 3rem;
  }
  .section-headline > h1 {
    font-size: 2.2rem;
  }
}
