.searchfield-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchfield {
  border: 1px solid #4b4b4b;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;

  font-family: inherit;
  padding: 1.5rem 1.8rem;
  height: 7rem;
  width: 30vw;
}

.searchfield-container ion-icon {
  display: block;
  font-size: 3.5rem;
  margin-left: 1rem;
  border: 1px solid #4b4b4b;
  padding: 1.3rem 1.6rem;
}
.search-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 1.6rem;
  margin: 0 1rem 0 0;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 200;
}

@media screen and (max-width: 600px) {
  .searchfield {
    font-size: 1.6rem;
  }
}
