.colour-section {
  min-height: 65vh;
}
.colour-headline {
  margin-top: 7rem;
  margin-bottom: 5rem;
  font-size: 4rem;
  font-weight: 600;
  text-transform: none;
}
.img-colour {
  border: 0.1px solid rgba(0, 0, 0, 0.247);
}

.colour-container {
  max-width: 80rem;
  margin: 0 auto;
}
.colour-container img {
  width: 100%;
  margin-bottom: 7rem;
}
.colour-name {
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.product-specification-title {
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.product-specification-list {
  font-size: 1.8rem;
  margin-left: 1.5rem;
  margin-bottom: 6rem;
  line-height: 1.4;
}
.pdf-link {
  font-size: 2rem;
  margin-left: 3rem;
  text-decoration: none;
  font-weight: 400;
  color: #222;
}
.pdf-link ion-icon {
  font-size: 3rem;
  position: absolute;
  transform: translate(-110%, -25%);
}
.pdf-link p {
  color: var(--text-color);
  font-weight: 300;
  margin-top: 0.5rem;
  font-size: 1.6rem;
}
@media screen and (max-width: 960px) {
  .colour-container {
    padding: 1rem;
  }
  .pdf-link {
    margin: 3rem;
  }
}
