.no-style-button {
  background: none;
  border: none;
}

.go-back-btn {
  font-size: 1.6rem;
  position: absolute;
  top: -13%;
  font-weight: 400;
  padding: 2rem 3.6rem;
  border: 2px solid black;
  transition: all 0.3s;
  z-index: 999;
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
}
@media screen and (max-width: 900px) {
  .name {
    font-size: 1.6rem;
  }
  .go-back-btn {
    margin-left: 1rem;
    padding: 2rem 2.6rem;
  }
}
