.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.swiper-pagination-bullet {
  display: inline-block;
}
.swiper-pagination-bullet-active {
  display: inline-block;
  background-color: #222;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  top: var(--swiper-navigation-top-offset, 45%);
}
